.menu {
    position: relative;
    display: flex;

    .marker {
        position: absolute;
        height: 4px;
        background: #fff;
        left: 45px;
        width: 120px;
        bottom: -8px;
        transition: all 0.5s;
        border-radius: 4px;
    }

    li {
        list-style: none;
    }

    a {
        // Making the position relative introduces the ability to use z-index on this element
        // do these links items would appear on top of the #marker element
        position: relative;
        font-size: 2em;
        color: #fff;
        text-decoration: none;
        // A tag is inline element by default
        // so we need to make it inline-block to apply margin
        display: inline-block;
        margin: 10px 0;
        padding: 0 20px;
    }
}
