.count {
    text-align: center;
    font-size: small;
    font-weight: bold;
    line-height: 20px;
    color: white;
    border-radius: 50%;
    position: absolute;
    background-color: #F3425F;
    width: 18px;
    height: 18px;
    top: -3px;
    right: -3px;
}
