.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
    display: flex;
    align-items: center;

    .logo {
        height: 40px;
    }

    .header__input {
        display: flex;
        align-items: center;
        background-color: #eff2f5;
        padding: 10px;
        margin-left: 10px;
        border-radius: 999px;

        input {
            border: none;
            background-color: transparent;
            /* Remove the focus outline */
            outline-width: 0;
        }
    }
}

.header__center {
    display: flex;

    .header__option {
        display: flex;
        align-items: center;
        padding: 0 30px;
        cursor: pointer;

        .MuiSvgIcon-root {
            color: gray;
        }

        &:hover {
            background-color: #eff2f5;
            border-radius: 10px;
            border-bottom: none;

            .MuiSvgIcon-root {
                color: var(--color-primary);
            }
        }
    }

    .header__option--active {
        border-bottom: 4px solid var(--color-primary);

        .MuiSvgIcon-root {
            color: var(--color-primary);
        }

        &:hover {
            border-radius: 0;
            border-bottom: 4px solid var(--color-primary);
        }
    }
}

.header__right {
    display: flex;

    .header__info {
        display: flex;
        align-items: center;

        .username {
            margin-left: 10px;
        }
    }
}
