.card {
    height: 350px;
    width: 400px;
    // set min-width so the card would not be squeezed too much
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    // Use negative value to create a card overlay effect
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    // Add the transition animation
    transition: all .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

// Move the card up when it's hovered
.card:hover {
    transform: translateY(-1rem);
}

// Use ~ selector to select all siblings after the hovered card
// and move them to the right for 130px
.card:focus-within ~ .card,
.card:hover ~ .card {
    transform: translateX(130px);
}

// Target all the cards except the first one
.card:not(:first-child) {
    margin-left: -130px;
}

.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    // Apply gradient to text
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // Turn the image into black and white
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin-top: 1rem;
    padding: .5rem 0 1rem;
    line-height: 2;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
    margin-right: 10px;
    text-decoration: none;
}

.tags a:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}
