// `react-flip-move` library add another div to the `.results` container
// so we need to target the div within `.results`
.results > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}
